<div class="row  "  *ngIf="product" >
  <div class="col-6">
    <img class="w-50 img-fluid" src="{{product.pictureUrl}}" alt="{{product.name}}">
  </div>

  <div class="col-6">
    <h2>{{product.name}}</h2>
    <p> {{product.price | currency}}</p>

    <div class="d-flex justify-content-start align-items-center" >
      <i (click)="decrementQuantity()"  class="fa fa-minus-circle text-warning mr-2" style="cursor: pointer;font-size:1.2em"></i>
      <span class="mx-2 text-dark" style="font-size:1.2em">{{quantity}}</span>
      <i (click)="incrementQuantity()" class="fa fa-plus-circle text-warning mx-2" style="cursor: pointer;font-size:1.2em"></i>
      <button (click)="addItemToBasket() " type="button" class="btn btn-outline-primary btn-lg ml-4">Add to Cart</button>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12 ml-3">

      <h3>Description</h3>
      <p>{{product.description}}</p>
    </div>
  </div>
</div>
