<div class="mt-5" [formGroup]="checkoutForm">

  <div class="d-flex justify-content-between align-items-center">
    <h4 >Shipping Address</h4>
    <button (click)="saveAddress()"
    [disabled]="!checkoutForm.get('addressForm').valid"
    class="btn btn-outline-success mb-3">
      Save As default Address
    </button>
  </div>

  <div class="row" formGroupName="addressForm">
    <div class="form-group col-6">
      <app-text-input [label]="'FirstName'" formControlName="firstName"></app-text-input>
    </div>

    <div class="form-group col-6">
      <app-text-input [label]="'LastName'" formControlName="lastName"></app-text-input>
    </div>

    <div class="form-group col-6">
      <app-text-input [label]="'Street'" formControlName="street"></app-text-input>
    </div>

    <div class="form-group col-6">
      <app-text-input [label]="'City'" formControlName="city"></app-text-input>
    </div>

    <div class="form-group col-6">
      <app-text-input [label]="'State'" formControlName="state"></app-text-input>
    </div>

    <div class="form-group col-6">
      <app-text-input [label]="'ZipCode'" formControlName="zipCode"></app-text-input>
    </div>

  </div>

  <div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
    <a class="btn btn-outline-primary" [routerLink]="['/basket']" routerLinkActive="router-link-active" >
        <i class="fa fa-angle-left"></i> Back to Basket
    </a>
    <button class="btn btn-primary"
    [disabled]="!checkoutForm.get('addressForm').valid"
    cdkStepperNext>
        Go to Delivery <i class="fa fa-angle-right"></i>
    </button>
</div>

</div>
