/* You can add global styles to this file, and also import other style files */
.xng-breadcrumb-trail {
  margin: 0;
  color: orange !important;
}

.xng-breadcrumb-list {

flex-wrap: nowrap!important;
}
