.cart-no{
  position: absolute;
   border-radius: 50%;
   text-align :center;
   background-color: blue;
   color: white;
   padding:0 .5rem;
   top : -15px;
   left:15px;
}

a {
  text-decoration: none;
  color : black  ;

  &:hover{
    color:grey;
  }

  &.active{
    color:orange;
  }
}

.logo{

  &:focus{
    outline: none;
  }
}
